{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="https://{{ domain }}/" />
<meta property="og:url" content="https://{{ domain }}/" />{% endblock %}

{% block style %}
    #index_main {background:url("images/bg2.png") bottom center no-repeat; text-align:center;}
    #_index_main {width:900px; text-align:left; margin: 0px auto; padding-top: 9px;}
    #latest {float: left; width: 581px; padding: 0px 15px 0px 0px; margin: 0px;}
    #latest .content { padding: 10px 0px 10px 10px; }
    #thumbnails img { border: 2px solid black; margin: 0px;}
    #latest_text { padding: 5px 15px 10px 0px; }
    #latest_click { color: white; }
    #latest_name { font-size: 1.5em; color:black; font-weight:bold; font-variant: small-caps; }
    #latest_description { color: black; }
    #thumbnails .thumbnail_container {position: relative; float:left; margin:0px 10px 0px 0px; padding: 0px; }
    #thumbnails .dt {background:black; color: white; position: absolute; bottom: 0px; right: 0px; padding: 3px 6px; }
    #thumbnails .dt a, #thumbnails .dt a:visited {color:white; text-decoration:none;}
    #thumbnails .dt a:hover {text-decoration:underline;}
{% endblock %}

{% block content %}
<div id="index_main">
    <div id="_index_main">
        <div id="latest" class="box">
            <div class="subheading">
                <h2><a id="latest_click" href="{{ _pages[last]._path }}">Latest Comics</a></h2>
                <div style="clear:both"></div>
            </div>
            <div class="content" id="thumbnails">{% for entry in _pages_list[-1:-4:-1] %}
                <div class="thumbnail_container">
                    <a href="{{ entry._path }}">
                      <img src="{{ entry.thumbnail }}" height="175" width="175" alt="Thumbnail" title="{{ entry.description }}" />
                    </a>
                    <div class="dt"><a href="{{ entry._path }}">{{ entry.datetime.strftime('%B %d') }}</a></div>
                </div>{% endfor %}
            <div style="clear:both;"></div></div>
        </div>
        <iframe id="like_box" src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FTort-Bunnies%2F136515873026231&amp;width=292&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=true&amp;height=425" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:425px; margin: 0px 0px 30px 0px; background:white; border:1px solid black;" allowTransparency="false"></iframe>
        <div style="clear:both"></div>
    </div>
</div>
{% endblock %}